<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0175" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.0.0-alpha0081" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net462" />
</packages>